body{
	background: brown;
	margin: 10%;
}

header{
	background: white;
	padding-bottom: 20px;
	text-align: center;
}


div{
	display: inline-block;
	background: white;
	width: 38%;
	border: solid 3px black;
	margin: 30px;
	height: 150px;
	float: left;
	padding-bottom: 4px;
}

.full{
	width: 15%;
	padding: 4px;

}